#header {
  height: 100px;
  background-color: rgba(78, 160, 255, 255);
  background-image: url(../img/pattern.png);
  background-size: 400px;
  background-origin: border-box;
  background-repeat: repeat-x;
}
